@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
  --base-colorsprimary-blue: rgba(82, 27, 255, 1);
  --base-colorssecondary-blue: rgba(0, 33, 127, 1);
  --base-colorssurface: rgba(25, 25, 25, 1);
  --greyscale-10: rgba(25, 25, 25, 1);
  --greyscale-100: rgba(255, 255, 255, 1);
  --greyscale-20: rgba(51, 51, 51, 1);
  --greyscale-30: rgba(77, 77, 77, 1);
  --greyscale-40: rgba(102, 102, 102, 1);
  --greyscale-50: rgba(128, 128, 128, 1);
  --greyscale-60: rgba(153, 153, 153, 1);
  --greyscale-70: rgba(179, 179, 179, 1);
  --greyscale-80: rgba(204, 204, 204, 1);
  --greyscale-90: rgba(230, 230, 230, 1);
  --greyscale-95: rgba(242, 242, 242, 1);
  --greyscale-97: rgba(247, 247, 247, 1);
  --largescreen-body-font-family: "Satoshi-Regular", Helvetica;
  --largescreen-body-font-size: 18px;
  --largescreen-body-font-style: normal;
  --largescreen-body-font-weight: 400;
  --largescreen-body-letter-spacing: 0px;
  --largescreen-body-line-height: 24px;
  --largescreen-button-font-family: "Satoshi-Bold", Helvetica;
  --largescreen-button-font-size: 16px;
  --largescreen-button-font-style: normal;
  --largescreen-button-font-weight: 700;
  --largescreen-button-letter-spacing: 0px;
  --largescreen-button-line-height: 24px;
  --largescreen-caption-font-family: "Satoshi-Italic", Helvetica;
  --largescreen-caption-font-size: 12px;
  --largescreen-caption-font-style: italic;
  --largescreen-caption-font-weight: 400;
  --largescreen-caption-letter-spacing: 0px;
  --largescreen-caption-line-height: 18px;
  --largescreen-heading-font-family: "Satoshi-Black", Helvetica;
  --largescreen-heading-font-size: 32px;
  --largescreen-heading-font-style: normal;
  --largescreen-heading-font-weight: 900;
  --largescreen-heading-letter-spacing: 0px;
  --largescreen-heading-line-height: 36px;
  --largescreen-largedisplay-font-family: "CabinetGrotesk-Black", Helvetica;
  --largescreen-largedisplay-font-size: 80px;
  --largescreen-largedisplay-font-style: normal;
  --largescreen-largedisplay-font-weight: 900;
  --largescreen-largedisplay-letter-spacing: 0px;
  --largescreen-largedisplay-line-height: 80px;
  --largescreen-mediumdisplay-font-family: "CabinetGrotesk-Extrabold", Helvetica;
  --largescreen-mediumdisplay-font-size: 64px;
  --largescreen-mediumdisplay-font-style: normal;
  --largescreen-mediumdisplay-font-weight: 400;
  --largescreen-mediumdisplay-letter-spacing: 0px;
  --largescreen-mediumdisplay-line-height: 64px;
  --largescreen-smalldisplay-font-family: "CabinetGrotesk-Medium", Helvetica;
  --largescreen-smalldisplay-font-size: 48px;
  --largescreen-smalldisplay-font-style: normal;
  --largescreen-smalldisplay-font-weight: 500;
  --largescreen-smalldisplay-letter-spacing: 0px;
  --largescreen-smalldisplay-line-height: 48px;
  --largescreen-subheading-font-family: "Satoshi-Bold", Helvetica;
  --largescreen-subheading-font-size: 24px;
  --largescreen-subheading-font-style: normal;
  --largescreen-subheading-font-weight: 700;
  --largescreen-subheading-letter-spacing: 0px;
  --largescreen-subheading-line-height: 24px;
  --largescreen-xlargedisplay-font-family: "CabinetGrotesk-Black", Helvetica;
  --largescreen-xlargedisplay-font-size: 120px;
  --largescreen-xlargedisplay-font-style: normal;
  --largescreen-xlargedisplay-font-weight: 900;
  --largescreen-xlargedisplay-letter-spacing: 0px;
  --largescreen-xlargedisplay-line-height: 128px;
  --mobile-mockup-gen-2-iphone-color: rgba(144, 122, 255, 1);
  --smallscreen-body-font-family: "Satoshi-Regular", Helvetica;
  --smallscreen-body-font-size: 16px;
  --smallscreen-body-font-style: normal;
  --smallscreen-body-font-weight: 400;
  --smallscreen-body-letter-spacing: 0px;
  --smallscreen-body-line-height: 24px;
  --smallscreen-button-font-family: "Satoshi-Bold", Helvetica;
  --smallscreen-button-font-size: 12px;
  --smallscreen-button-font-style: normal;
  --smallscreen-button-font-weight: 700;
  --smallscreen-button-letter-spacing: 0px;
  --smallscreen-button-line-height: 24px;
  --smallscreen-caption-font-family: "Satoshi-Italic", Helvetica;
  --smallscreen-caption-font-size: 12px;
  --smallscreen-caption-font-style: italic;
  --smallscreen-caption-font-weight: 400;
  --smallscreen-caption-letter-spacing: 0px;
  --smallscreen-caption-line-height: 18px;
  --smallscreen-heading-font-family: "Satoshi-Black", Helvetica;
  --smallscreen-heading-font-size: 24px;
  --smallscreen-heading-font-style: normal;
  --smallscreen-heading-font-weight: 900;
  --smallscreen-heading-letter-spacing: 0px;
  --smallscreen-heading-line-height: 36px;
  --smallscreen-largedisplay-font-family: "CabinetGrotesk-Black", Helvetica;
  --smallscreen-largedisplay-font-size: 40px;
  --smallscreen-largedisplay-font-style: normal;
  --smallscreen-largedisplay-font-weight: 900;
  --smallscreen-largedisplay-letter-spacing: 0px;
  --smallscreen-largedisplay-line-height: 40px;
  --smallscreen-mediumdisplay-font-family: "CabinetGrotesk-Extrabold", Helvetica;
  --smallscreen-mediumdisplay-font-size: 32px;
  --smallscreen-mediumdisplay-font-style: normal;
  --smallscreen-mediumdisplay-font-weight: 400;
  --smallscreen-mediumdisplay-letter-spacing: 0px;
  --smallscreen-mediumdisplay-line-height: 32px;
  --smallscreen-smalldisplay-font-family: "CabinetGrotesk-Medium", Helvetica;
  --smallscreen-smalldisplay-font-size: 24px;
  --smallscreen-smalldisplay-font-style: normal;
  --smallscreen-smalldisplay-font-weight: 500;
  --smallscreen-smalldisplay-letter-spacing: 0px;
  --smallscreen-smalldisplay-line-height: 48px;
  --smallscreen-subheading-font-family: "Satoshi-Bold", Helvetica;
  --smallscreen-subheading-font-size: 20px;
  --smallscreen-subheading-font-style: normal;
  --smallscreen-subheading-font-weight: 700;
  --smallscreen-subheading-letter-spacing: 0px;
  --smallscreen-subheading-line-height: 24px;
  --smallscreen-xlargedisplay-font-family: "CabinetGrotesk-Black", Helvetica;
  --smallscreen-xlargedisplay-font-size: 48px;
  --smallscreen-xlargedisplay-font-style: normal;
  --smallscreen-xlargedisplay-font-weight: 900;
  --smallscreen-xlargedisplay-letter-spacing: 0px;
  --smallscreen-xlargedisplay-line-height: 48px;
}

/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/